@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:10vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.context p{
    text-align: center;
    font-style: italic;
    color: #fff;
    font-size: 20px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:50vh;
   
   
}

.areaTwo{
    background: #4e54c8;  
    margin: 0px;
  text-align: center;
    width: 50%;
    width: 100%;
    height:250vh;
}

.areaText{
    background: #4e54c8;  
    text-align: center;
    width: 250%;
    height:0vh;
}

.areaThree{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:10vh;
   
}

.circles{
  
    top: 0;
    left: 0;
    width: 100%;
    height: 400%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -950px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/*L'OPACITÉ DE LA VIGNETTE CHANGE LORS DU HOVER*/
img:hover {
	opacity: 0.8;
	transition: opacity 0.9s;
}

/*LE STYLE DU TEXTE CLICK TO ZOOM*/
.click {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	z-index: 10;
	color: white;
	background-color: #879427;
	font-size: 1em;
	font-family: "Lucida Console", Courier, monospace;
	opacity: 0; /*opacity 0 car le texte ne doit pas être affiché avant le hover*/
}

.box:hover .click {
	opacity: 1; /*le texte passe à opacity 1 et devient visible*/
	transition: opacity 0.5s;
}

.box {
	position: relative;
   margin: 50px;
    width: 100px;
  
	max-height: 100%;
	display: block;
	width: 500px;  
}


@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-2000px) rotate(720deg);
        opacity: 0;
        border-radius: 30%;
    }

}
